##### Quality

TBD
<%#
* Independently brings in expertise from other contributors to raise the standard of their work.
* Gives positive feedback in public and negative feedback privately with care.
* Executes tasks in team projects, demonstrating ownership of them from conception to completion.
* Requires supervision to deliver projects in time, growing bias for action.
* Recognises complexity of the team’s product or the team’s process, and proposes solutions accordingly.
* Capable of implementing solutions based on the complexity, and asks for guidance when the complexity increases unexpectedly.
* Analyzes team processes and proposes areas where efficiency improvements can be made.
* Requests expert help from others recognizing that diverse opinions/experience improve the quality of their solution.
* Collaborates and consults with stable counterparts including understanding their roles and responsibilities and focusing on fostering productive working relationships.
* Shows that they are aware of differing priorities between groups.
* Prioritizes work by following [GitLab Priority and Severity label](/handbook/engineering/quality/issue-triage/#priority) guidelines, focusing on high-value activities, completing tasks with the earliest deadlines, and when in doubt, seek clarification regarding the priorities.
* Balances short term gains and long term benefit with team’s help. For example, advocating for technical debt resolution and understanding the opportunity cost in comparison to a quick customer win.
* Creates proposals for their team that clearly defines the problem, offers alternatives, and proposes a solution. These proposals are small in scope, looking to address problems with a small surface area.
* Incorporates [Iteration](/handbook/values/#iteration) in every aspect of your job (examples: development, issue creation, planning, process improvements)
* Provides context and background on projects and issues so that those with no prior knowledge are able to contribute to the discussion.
%>
